body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 18px;
    margin: 0;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

#logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

form {
    margin-top: 60px; /* Adjust margin to ensure form is below the logo */
}

input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
